<head>
    
    <title>Trading App</title>

    <meta name="title" content="Trading App">
    <meta name="description" content="Trading App">
    <meta name="keywords" content="">
    <meta name="author" content="">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://{{ request.get_host }}{{ request.get_full_path }}" />

    <!--  Social tags -->
    <meta name="keywords" content="">
    <meta name="description" content="Trading App">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="Trading App">

    <meta itemprop="image" content="{{ image }}">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="Trading App">

    <meta name="twitter:description" content="Trading App">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="{{ image }}">

    <!-- Open Graph data 
    <meta property="fb:app_id" content="">-->
    <meta property="og:title" content="Trading App" />
    <!--<meta property="og:type" content="article" />-->
    <meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}" />
    <meta property="og:image" content="{{ image }}"/>
    <meta property="og:description" content="Trading App" />
    <meta property="og:site_name" content="" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/fontawesome-free/css/all.min.css') }}">
    
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    
    <!-- Theme style (AdminLTE) -->
    <link rel="stylesheet" href="{{ url_for('static',filename='dist/css/adminlte.min.css') }}">
    
      <!-- JQVMap -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/jqvmap/jqvmap.min.css') }}">

    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">

    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/daterangepicker/daterangepicker.css') }}">
    <!-- summernote -->
    <link rel="stylesheet" href="{{ url_for('static',filename='plugins/summernote/summernote-bs4.min.css') }}">
</head>